{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>О лягушках</h1>
    </header>
    <article>
        <p>Ква-ква-ква.</p>
    </article>
{% endblock %}