{% extends 'BloggerBlogBundle::layout.html.twig' %}


{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact BlogFrog</h1>
    </header>

    <p>Want to contact BlogFrog?</p>
{% endblock %}