{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Добавь КВАментарий{% endblock%}

{% block body %}
    <h1>Добавить КВАментарий "{{ comment.blog.title }}"</h1>
    {% include 'BloggerBlogBundle:Comment:form.html.twig' with { 'form': form } %}
{% endblock %}